<div class="col-md-offset-1 col-md-10">
  <div class="blog-article">
    <div class="blog-article-thumbnail">
      <!--<a href="blog-post-no-sidebar.html"><img src="images/blog/image-15.jpg" alt=""></a>-->
      <%= link_to image_tag(@blog.image.url(:med)), @blog.image.url %>
    </div><!-- blog-article-thumbnail -->
    <a class="date" href="#"><%= @blog.display_day_published %></a>
    <h4 class="blog-article-title"><%= @blog.title %></h4>
    <div class="blog-article-content">
      <%= @blog.body %>
    </div><!-- blog-article-content -->
  </div>
</div>