<div class="col-md-offset-1 col-md-10">
  <div class="blog-article">
    <h4 class="blog-article-title"><%= @blog.title %></h4>
    <div class="blog-article-content">
      <%= @blog.body %>
    </div><!-- blog-article-content -->
  </div>
</div>