<tr>
  <td><%= link_to blog.title, author_blog_path(blog) %></td>
  <td></td>
  <td><%= link_to 'Edit', edit_author_blog_path(blog), class: 'btn btn-sm btn-warning' %></td>
  <td><%= link_to 'Remove', author_blog_path(blog), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %></td>
</tr>